<br>
<table class="card" style="width:7cm;">
    <tbody>
    <!-- Top row - header of the card -->
    <tr class="card_header">
        <th style="width:20%;"></th>
        <th style="height=30px;width:50%;">{{ item_name }} ({{ item_category}})</th>
        <th style="font-size:11px;width:30%;vertical-align:bottom;">per 100g</th>
    </tr>
    <!-- First section -->
    <tr class="top_h">
        <td rowspan="4" style="background-color:white;"></td>
        <td>ENERGY</td>
        <td style="text-align:center;">{{ energy }}</td>
    </tr>
    <tr class="top">
        <td>PROTEIN</td>
        <td style="text-align:center;">{{ protein }}</td>
    </tr>
    <tr class="top">
        <td>CARBOHYDRATE</td>
        <td style="text-align:center;">{{ carbohydrate }}</td>
    </tr>
    <tr class="top">
        <td>FAT total</td>
        <td style="text-align:center;">{{ fat_total }}</td>
    </tr>
    <!-- Second section -->
    <tr class="middle">
        <td rowspan="3" style="text-align:center;">HIGH WINS</td>
        <td>FIBRE</td>
        <td style="text-align:center;">{{ fibre }}</td>
    </tr>
    <tr class="middle">
        <td>CALCIUM</td>
        <td style="text-align:center;">{{ calcium }}</td>
    </tr>
    <tr class="middle">
        <td>IRON</td>
        <td style="text-align:center;">{{ iron }}</td>
    </tr>
    <!-- Third section -->
    <tr class="bottom">
        <td rowspan="3" style="text-align:center;">LOW WINS</td>
        <td>FAT saturated</td>
        <td style="text-align:center;">{{ fat_saturated }}</td>
    </tr>
    <tr class="bottom">
        <td>SUGAR</td>
        <td style="text-align:center;">{{ sugar }}</td>
    </tr>
    <tr class="bottom">
        <td>SALT</td>
        <td style="text-align:center;">{{ salt }}</td>
    </tr>
    </tbody>
</table>
<br>