<table id="card">
    <tr>
        <th colspan="3" style="height=30px;">{{ item_name }} ({{ item_category}})</th>
    </tr>
    <tr>
        <td style="width:20%;color:white;background-color: white;"></td>
        <td style="width:80%;">
            <table id="top">
                <tr>
                    <th>ENERGY</th>
                    <th style="width:20%;text-align:center;">{{ energy }}</th>
                </tr>
                <tr>
                    <td>PROTEIN</td>
                    <td style="text-align:center;">{{ protein }}</td>
                </tr>
                <tr>
                    <td>CARBOHYDRATE</td>
                    <td style="text-align:center;">{{ carbohydrate }}</td>
                </tr>
                <tr>
                    <td>FAT total</td>
                    <td style="text-align:center;">{{ fat_total }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width:15%;color:white;background-color: rgb(126, 193, 64);text-align:center;">High wins</td>
        <td>
            <table id="middle">
                <tr>
                    <td>FIBRE</td>
                    <td style="width:20%;text-align:center;">{{ fibre }}</td>
                </tr>
                <tr>
                    <td>CALCIUM</td>
                    <td style="text-align:center;">{{ calcium }}</td>
                </tr>
                <tr>
                    <td>IRON</td>
                    <td style="text-align:center;">{{ iron }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width:15%;color:white;background-color: rgb(236, 26, 35);text-align:center;">Low wins</td>
        <td>
            <table id="bottom">
                <tr>
                    <td>FAT saturated</td>
                    <td style="width:20%;text-align:center;">{{ fat_saturated }}</td>
                </tr>
                <tr>
                    <td>SUGAR</td>
                    <td style="text-align:center;">{{ sugar }}</td>
                </tr>
                <tr>
                    <td>SALT</td>
                    <td style="text-align:center;">{{ salt }}</td>
                </tr>
            </table>
        </td>
    <tr>
</table>