<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Card Template</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
<table id="card">
    <tr>
        <td>
            <table id="top">
                <tr>
                    <th colspan="2">Food Name</th>
                </tr>
                <tr style="color:white;">
                    <td>ENERGY</td>
                    <td style="width:20%;">A</td>
                </tr>
                <tr>
                    <td>PROTEIN</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>CARBOHYDRATE</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>FAT total</td>
                    <td>B</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table id="middle">
                <tr>
                    <td>FIBRE</td>
                    <td style="width:20%">1</td>
                </tr>
                <tr>
                    <td>CALCIUM</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>IRON</td>
                    <td>3</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table id="bottom">
                <tr>
                    <td>FAT saturated</td>
                    <td style="width:20%">A</td>
                </tr>
                <tr>
                    <td>SUGAR</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>SALT</td>
                    <td>A</td>
                </tr>
            </table>
        </td>
    <tr>
</table>
</body>
</html>